
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}



.service-box i {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;

}

.service-box:hover i {
  color: #fff;
}

.service-box h3 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}
.service-box:hover h3-0000 {
  color: #fff;
}



.service-box:hover h4 {
  color: #ddd;
}

.service-box p {
  color: #ddd;
}

.service-box {
  color: #8e2de2;
  background-color: #494949;
  border-radius: 15px;
  position: relative;
  transition: all 0.0s ease;
  justify-content: left;
align-items: start;
display: flex;
}
.service-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  padding: 2px;
  background: 
    linear-gradient(
      160deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(142, 45, 226, 0.8) 40%,
      transparent 50%
    ),
    linear-gradient(
      rgba(63, 62, 63, 1),
      rgba(63, 62, 63, 1)
    );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.service-box:hover::before {
  opacity: 1;
}




.s-left,
.s-right {
  padding: 15px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}


.s-left {
  width: 30%;
}

.s-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  text-align: left; 
  gap: 10px;  
}







@media (max-width: 768px) {
  .service-container {
    grid-template-columns: 1fr; 
  }

  .s-left,
  .s-right {
    width: 100%;
  }

  .s-left {
    text-align: left;
    align-items: self-start;
    
  }
  .s-right {

  }
  .service-box {
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 10px;
  }

  .service-box i {
    margin-bottom: 0px !important;
    text-align: left;
  }
  .service-box i {
  color: #fff;
  margin-bottom: 0px !important;

}



.service-box h3 {
  margin: 0;
  font-size: 24px;
  color: #fff;
  margin-bottom: -25px !important;
  margin-top: 10px;
  text-align: left !important;
}


.service-box h4 {
  margin: 0;
  font-size: 20px;
  color: #fff;
 
}

.service-box::before {
    padding: 1.5px; /* Thinner border on mobile */
    background: 
      linear-gradient(
        145deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(142, 45, 226, 0.8) 30%, /* More visible gradient on small screens */
        transparent 45% /* Faster fade on mobile */
      ),
      linear-gradient(
        rgba(63, 62, 63, 1),
        rgba(63, 62, 63, 1)
      );
  }

}




