/* Service Design */

.platform-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns fixed */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.platform-box i {
  font-size: 40px;
  color: #7209b7;
  margin-bottom: 15px;
}

.platform-box:hover i {
  color: #7209b7;
}

.platform-box h3 {
  margin: 0;
  font-size: 20px;
}

.platform-box p {
  color: #7c7c7c;
}

.platform-box {
  padding: 30px 20px;
  color: #7209b7;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.0s ease;
  border: 1px solid #e0e0e0; /* Initial transparent border */
  border-style: ridge;
}

.platform-box:hover {
  color: #7209b7;
  background-color: #fff;
  border-color: transparent; /* Keep main border transparent */
  border-radius: 15px;
}

/* Create the animated border effect */
.platform-box::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 3px solid transparent;
  pointer-events: none;
  border-radius: 15px;
}

.platform-box:hover::after {
  animation: drawBorder 1.3s linear forwards;
}

@keyframes drawBorder {
  0% {
    border-top-color: #7209b7;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    clip-path: polygon(0 0, 0% 0, 0% 0, 0 0%);
  }
  25% {
    border-top-color: #7209b7;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0%);
  }
  50% {
    border-top-color: #7209b7;
    border-right-color: #7209b7;
    border-bottom-color: transparent;
    border-left-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  75% {
    border-top-color: #7209b7;
    border-right-color: #7209b7;
    border-bottom-color: #7209b7;
    border-left-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    border-top-color: #7209b7;
    border-right-color: #7209b7;
    border-bottom-color: #7209b7;
    border-left-color: #7209b7;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 768px) {
  .platform-container {
    grid-template-columns: 1fr; /* এক কলাম */
  }

  .p-left,
  .p-right {
    width: 100%; /* মোবাইলে পুরো জায়গা নিবে */
    border-radius: 15px 15px 0 0; /* চাইলেই border radius adjust করো */
  }

  .p-right {
    border-radius: 0 0 15px 15px; /* নিচের দিকের গোল অংশ */
  }

  .platform-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .platform-box i {
    margin-bottom: 10px;
  }
}
