
@media (max-width: 768px) {

body {
  overflow-x: hidden !important;
}
.main-header {
    overflow: hidden !important;
  }
.main-header {
  position: sticky;
  top: 0;
  z-index: 999;

}
  .services-container,
  .portfolio-grid,
  .pricing-container,
  .contact-container {
    grid-template-columns: 1fr;
  }
.main-header {
    overflow: visible;
  }
  .section-title,
  .pricing-title,
  .contact-title,
  .faq-title {
    font-size: 26px;
    text-align: center;
  }

  .service-box,
  .pricing-box,
  .contact-form,
  .contact-info,
  .faq-item {
    padding: 20px 15px;
  }

  .portfolio-item {
    height: 300px;
  }

  .plan-button {
    width: 100%;
  }

 .logo img {
    width: 120px;
    height: 20px;
  
  }

.hero-buttons {
  display: flex;
  gap: 10px;
}
  .btn-primary {
    padding: 10px 25px;
    margin: auto;
    border-radius: 15px 0px 15px 0px;
  }
.btn-outline {
    padding: 10px 30px;
    margin: auto;
    border-radius: 15px 0px 15px 0px;
  }

  .testimonial-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}


.faq-item {

  width: 300px;
  overflow: hidden;
   
  padding: 0px;
}


.faq-question {
  
  padding: 15px 20px;
  width: 300px;
  font-size: 16px;
}

}