/* Reset and Base Styles */
/* Preloader Overlay */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Loader Animation */
.loader {
  width: 96px;
  height: 48px;
  background: #FFF;
  border-color: #b4d210;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;
  box-sizing: content-box;
}
.loader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #FFF;
  border: 18px solid #b4d210;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #b4d210;
  border: 18px solid #FFF;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
@keyframes yinYang {
  100% { transform: rotate(360deg); }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #e4f8d7;
  color: #333;
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
}

h1 {
  font-family: "Alkatra", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: "Bungee", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  }



h5 {
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}


h2bb {
  font-family: "Rubik Mono One", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }
h2 {
  font-family: "Bungee", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  }




.main-section {
  padding: 50px 50px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
overflow: hidden;
}

.main-section::before {
  content: "";
  position: absolute;
  top: -150px;
  left: -150px;
  width: 300px;
  height: 300px;
  background: rgba(180, 210, 16, 0.3);
  filter: blur(150px);
  z-index: -1;
}

.main-section::after {
  content: "";
  position: absolute;
  bottom: -150px;
  right: -150px;
  width: 300px;
  height: 300px;
  background: rgba(180, 210, 16, 0.3);
  filter: blur(180px); /
  z-index: -1;
}

  .section-title {
  font-size: 36px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, #b4d210, #777, #b4d210);
  background-size: 300% 100%;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientRightToLeft 6s linear infinite;
  margin-bottom: 40px;
  display: inline-block;
}

@keyframes gradientRightToLeft {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
/* ===== Hero Section Base ===== */
.hero-section {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top: -50px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* ===== Overlay Content on Top of Video ===== */
.hero-content {
position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10%;
  color: #fff;
  backdrop-filter: brightness(90%);
}

/* ===== Left Side Text ===== */
.hero-left {
  flex: 1;
  max-width: 50%;

}

.hero-left h1 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}


.hero-left p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 500px;
}
.typing-loop {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 42px;
  animation: typing 2.5s steps(12, end) 1s infinite alternate;
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(to right, #d2cf10, #b4d210);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Typing animation keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13ch; /* total characters in "SHAN AHMED" including space */
  }
}




/* ===== Buttons ===== */
.hero-buttons {
  display: flex;
  gap: 25px;
}

.btn-primary {
  background: linear-gradient(to right, #d2cf10, #b4d210);
  color: #fff;
  padding: 12px 30px;
  border-radius: 20px 0px 20px 0px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.btn-primary:hover {
  background: none !important;
  color: #b4d210 !important;
  border: 2px solid #b4d210;
  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}



.btn-outline {
  background-color: transparent;
  color: #b4d210;
  border: 2px solid #b4d210;
  padding: 12px 30px;
  border-radius: 20px 0px 20px 0px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;

  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);     /* glow with #b4d210 */

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);             /* for Safari support */
}

.btn-outline:hover {
  background: linear-gradient(to right, #d2cf10, #b4d210);
  color: #ffffff;

  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);     /* glow with #b4d210 */

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);             /* for Safari support */
}

/* ===== Right Side Image ===== */
.hero-right {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  max-width: 100%;
  height: auto;
  
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-left, .hero-right {
    max-width: 100%;
  }

  .hero-left h1 {
    font-size: 48px;
    color: #b4d210;
  }

  .hero-left p {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-right img {
    width: 80%;
    margin-top: 20px;
  }
}





/* Service Design */

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns fixed */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-box {
  background-color: #ffffff;
  color: #b4d210;
  padding: 30px 20px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 0 0 15px rgba(180, 210, 16, 0.4);
}

.service-box i {
  font-size: 40px;
  color: #b4d210;
  margin-bottom: 15px;
}

.service-box:hover i {
  color: #ffffff;
}

.service-box h3 {
  margin: 0;
  font-size: 20px;
}

.service-box:hover {
  transform: rotateY(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(164, 250, 93, 0.15);

  background-color: #b4d210;
  color: #ffffff;
}













/* Why Choose Me? */

.choose-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.choose-box {
  background-color: #fffffa;
  color: #b4d210;
  
  padding: 30px 25px;
  border-radius: 15px;

  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 0 0 15px rgba(180, 210, 16, 0.4);
}


.choose-box i {
  font-size: 40px;
  color: #b4d210;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.choose-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.choose-box p {
  font-size: 15px;
  color: #7c7c7c;
}


.choose-box:hover {
  background-color: #b4d210;
  color: #ffffff;
  transform: rotateY(10deg) scale(1.05);
}






.choose-box:hover i {
  color: #ffffff;
}

.choose-box:hover p {
  color: #dfdfdf;
}




/* Client Testimonial */

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  overflow: visible;
}

.testimonial-box {
  background-color: #ffffff;
  color: #b4d210;
  padding: 30px 25px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  box-shadow: 0 0 15px rgba(180, 210, 16, 0.4);
}

.quote-icon {
  font-size: 30px;
  color: #b4d210;
  position: absolute;
  top: 20px;
  left: 25px;
}

.testimonial-text {
  font-size: 15px;
  margin-top: 40px;
  color: #757474;
  margin-bottom: 20px;
}

.client-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.client-role {
  font-size: 14px;
  color: #ccc;
}

.testimonial-box:hover {
  background-color: #b4d210;
  color: #ffffff;
  border-radius: 15px;
  transform: rotateY(10deg) scale(1.05);
}

.testimonial-box:hover .quote-icon {
  color: #ffffff;
}

.testimonial-box:hover .testimonial-text {
  color: #ffffff;
}

.testimonial-box:hover .client-role {
  color: #d3d3d3;
}



/* slider */
.testimonial-swiper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
 .swiper-pagination-bullet {
  background-color: #494949 !important;
  opacity: 0.7;
  margin-top: 5px;
  overflow: hidden;
}

.swiper-pagination-bullet-active {
  margin-top: 5px;
  background-color: #b4d210 !important;
  opacity: 1;
  overflow: hidden;
}
.testimonial-section:hover .swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.7;
  margin-top: 5px;
  overflow: hidden;
}

.testimonial-section:hover .swiper-pagination-bullet-active {
  background-color: #0a0a07 !important;
  opacity: 1;
  margin-top: 5px;
  overflow: hidden;
}




/* ==== Skills Section ==== */

.skill {
  margin-bottom: 25px;
}

.skill-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

/* ==== Skill Bar ==== */
.skill-bar {
  width: 100%;
  background: #eaeaea;
  height: 26px; /* Taller height */
  border-radius: 13px;
  overflow: hidden;
  position: relative;
}

/* ==== Skill Fill with "Deu Deu" Shine ==== */
.skill-fill {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #b4d210, #a2be0d);
  animation: fillAnimation 2s ease-out forwards, shimmer 2s linear infinite;
  animation-delay: 0.2s, 2s;
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  padding-right: 0;
}

.skill-percent {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #b4d210;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  white-space: nowrap;
  z-index: 2;
  font-weight: 700;
}


.skill-fill::after {
  content: attr(data-percent);
  display: inline-block;
  background-color: #ffffff;
  color: #b4d210;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}


.skill-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  filter: blur(4px);
  animation: shineAnim 2s linear infinite;
}

/* ==== Animations ==== */
@keyframes fillAnimation {
  from {
    width: 0;
  }
  to {
    width: calc(var(--percentage) * 1%);
  }
}

@keyframes shineAnim {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}







/* Pricing Plan */


.pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.pricing-box {
  background-color: #5c5c5b;
  color: #b4d210;
  padding: 30px 25px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.plan-name {
  font-size: 22px;
  margin-bottom: 10px;
  color: #b4d210;
}

.plan-price {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.plan-features li {
  padding: 8px 0;
  color: #eee;
  border-bottom: 1px solid #777;
}


.plan-button {
  background: linear-gradient(to right, #d2cf10, #b4d210);
  color: #fff;
  padding: 12px 30px;
  border-radius: 15px 0px 15px 0px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  cursor: pointer;
}

.plan-button:hover {
  background: none !important;
  color: #b4d210 !important;
  border: 2px solid #b4d210;
  box-shadow: 0 0 20px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}








/* FAQ */




.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;

}

.faq-item {
  border: 1px solid #b4d210;
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
  background-color: #5c5c5b;
  margin: 2px auto; 
}


.faq-question {
  background-color: #ffffff;
  color: #5c5c5b;
  font-weight: bold;
  padding: 15px 20px;
  width: 500px;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px rgba(180, 210, 16, 0.4);
}

.faq-question:hover {
  background-color: #a2be0d;
  color: #fff;
}

.arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-answer {
  background-color: #5c5c5b;
  color: #fff;
  padding: 15px 20px;
  display: none;
  font-size: 15px;
}

/* Active/open arrow rotates 180deg */
.faq-question.active .arrow {
  transform: rotate(180deg);
}





/* Contact Section */

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.contact-form {
  background-color: #5c5c5b;
  background-image: url('assets/cbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-radius: 15px;
  color: #b4d210;
  position: relative;
  overflow: hidden;
}


.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}


.contact-form button {
  background: linear-gradient(to right, #d2cf10, #b4d210);
  color: #fff;
  padding: 12px 30px;
  border-radius: 15px 0px 15px 0px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  box-shadow: 0 0 25px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  cursor: pointer;
}

.contact-form button:hover {
  background: none !important;
  color: #b4d210 !important;
  border: 2px solid #b4d210;
  box-shadow: 0 0 20px rgba(180, 210, 16, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.contact-info {
  background-color: #5c5c5b;
  background-image: url('assets/cbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-radius: 15px;
  color: #b4d210;
  position: relative;
  overflow: hidden;
}

.contact-info h3 {
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  margin: 10px 0;
  color: #fff;
}

.contact-info i {
  margin-right: 10px;
  color: #fff;
}









