

.hero1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-content1 {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 30vh;
  color: white;
  font-family: sans-serif;
}

#shader-canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}






